.carouseSize img {
    width: 25%;
    height: 80vh;
}

.carouseText {
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 10px 50px 10px 50px;
    border: 10px 10px 10px 10px;
    padding: 8px;
}

.carouseText:hover {
    color: red;
}

.carouseText2 {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 10px 50px 10px 50px;
    border: 10px 10px 10px 10px;
    padding: 8px;
}

.carouseText3 {
    color: yellow;
    font-size: 18px;
    text-align: center;
    margin: 10px 50px 10px 50px;
    border: 10px 10px 10px 10px;
    padding: 8px;
}

